@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch";
    overflow-x: hidden;
}
body{
    background-color: #131019ef;
    
}
.ribbon{
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 10vh;
    background-color: black;
    border-bottom: darkcyan 1px solid;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.774);
    align-items: center;
}
.buttons{
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 1.8rem;
    
}
.gameName{
    display: flex;
    position: absolute;
    left: 1.3rem;
}
.rib-bt{
    padding: 0.5rem 1.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #beb6d2;
    background-color: transparent;
    border: 0px;
    border-radius: 0.24rem;
    cursor: pointer;
    transition: all 0.3s;
}
.rib-bt:hover{
    color: #131019;
    background-color: #fa1e4e;
    box-shadow: 0 0 1rem #790a22;
}
.controls{
    position: absolute;
    top: 12vh;
    left: 2vh;
    width: 100%;
    z-index: 3;
    color: white;
    font-weight: 100;
}
.container{
    position: absolute;
    top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#board {
    background-image: url(galaxybg.png);
    background-size:cover;
    background-repeat: no-repeat;
    border: 1px solid darkcyan;
    border-radius: 7px;
}
#txt{
    color:white;
    margin-bottom: -1rem;
}
.controls {
    position: absolute;
    top: 15vh;
    left: 2vw;
    width: 20vw;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px cyan;
    font-family: "Chakra Petch";
    text-align: left;
    animation: fadeOut 1.5s ease-in-out 10s forwards;
    z-index: 5;
}

.controls h3 {
    font-size: 1.4rem;
    color: cyan;
}

.controls p {
    font-size: 1rem;
    margin: 5px 0;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; visibility: hidden; }
}

#popUp{
    color:white;
    position: fixed;
    z-index: 9;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 30vh;
    width: 40vh;
    padding: 3vh 0;
    background-color: #131019de;

    border-radius: 3vh;
    border: 1px solid darkcyan;
}
